@import "../../../mixins/index";
@import "../../../variables/index";

.wp-block-uncgonline-block-tabs {
	@include universal-bottom-margin;

	li.tab-title {
		margin-right: 5px;
		margin-bottom: 0;
		button {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;

			&.active {
				border-top-color: #e5e5e5;
				border-right-color: #e5e5e5;
				border-left-color: #e5e5e5;
			}
		}
	}

	.tab-content {
		border: 1px solid #e5e5e5;
		border-top: none;
	}

	.nav-tabs .nav-link.active {
		color: #000;
	}
}
